* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

header {
  background-color: blue;
  text-align: center;
  color: white;
  padding: 10px 0;
}

.fundoContainer {
  height: 100vh;
}

.fundoContainer > h1 {
  text-align: center;
  padding: 20px 0;
}

table {
  width: 90vw;
  margin: 0 20px;
}

td {
  border: 1px solid black;
  padding-left: 10px;
}
